@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-condensed {
    font-stretch: ultra-condensed;
  }
}

.text-transition {
  display: inline-block !important;
}

.Sidebar {
  background-color: #65f9c1;
  position: fixed;
  top: 0;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.three:hover span {
  height: 120%;
}

.text-shadow {
  text-shadow: 0px 0px 25px rgba(0,0,0,0.3);
}